@media only screen and (max-width: 600px) {
  /* menu  */
  .menu {
    flex-direction: column;
  }
  .menu-list {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
    background-color: #ff5400;
    width: 100%;
    text-align: center;
  }
  .menu-list li:hover a {
    color: #fff;
  }
  /* banner */
  .banner {
    min-height: 600px;
  }
  .banner-input {
    flex-direction: column;
    gap: 10px;
  }
  .banner-input input,
  select {
    width: 100%;
  }
  .find-now {
    justify-content: center;
    align-items: center;
  }
  .find-now i {
    left: -15%;
    top: 50%;
  }
  /* our-popular-tour-section start */
  .our-popular-container {
    flex-direction: column;
  }
  .our-popular-text {
    width: 100%;
  }
  .our-popular-text .orange-button {
    margin-bottom: 20px;
  }
  .our-popular-image {
    width: 100%;
  }
  .choose-image1 {
    grid-template-columns: 1fr;
  }
  .choose-image2 {
    grid-template-columns: 1fr;
  }
  .choose-image3 {
    grid-template-columns: 1fr;
  }
}
