/* mulish-google-font */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap");

/* custom - css  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.orange-color {
  background-color: #ff5400;
}
.orange-button {
  padding: 10px 20px;
  background-color: #ff5400;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}
.orange-button a {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
}
/* header-start  */
header {
  max-width: 1250px;
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  min-height: 64px;
}
.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header-logo p {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.menu-list {
  display: flex;
  justify-content: space-between;
}
.menu-list li {
  list-style: none;
  margin-left: 40px;
}
.menu-list li a {
  font-size: 18px;
  color: var(--Dark-02, #424247);
  font-weight: 700;
  text-decoration: none;
}
.menu-list li:hover a {
  color: #ff5400;
  transition: 0.3s ease;
}

/* banner-start */
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  height: 500px;
}
.banner-container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
}
.banner-container h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.banner-container p {
  color: #fff;
  padding: 30px 0;
}
.banner-input {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 30px;
}
.banner-input input,
select {
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 150px;
  gap: 20px;

  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
}
.banner-input,
.find-now {
  display: flex;
  justify-content: space-between;
}
.find-now input {
  color: #fff;
  font-weight: 800px;
  text-align: center;
}
.find-now i {
  position: relative;
  top: 32%;
  left: 18%;
  color: #fff;
  padding-right: 5px;
}
/* header-end  */
/* our-popular */
.our-popular {
  max-width: 1250px;
  margin: 60px auto;
}
.our-popular-container {
  display: flex;
  justify-content: space-between;
}
.our-popular-text {
  width: 45%;
}
.our-popular-text h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}
.our-popular-text ul {
  margin-left: 40px;
}
.our-popular-text ul li {
  color: rgba(19, 19, 24, 0.7);
  margin-bottom: 20px;
}
.our-popular-text p {
  color: rgba(19, 19, 24, 0.7);
  margin: 30px 0;
}

.our-popular-image {
  width: calc(45 - 40px);
}
.our-popular-image img {
  width: 100%;
}
